*{
    padding: 0;
    margin: 0;
}

header{
    background: rgb(78, 130, 242);
    display: flex;
    justify-content: flex-end;
    align-items:center;
    padding: 20px 30px;
}

nav a{
    margin-left:20px;
    color:orange;
    font-family: Tahoma;
    text-decoration: none;
}

button{
    margin-left: 30px;
    font-family: Tahoma;
    padding: 5px 10px;
    border-radius: 30px;
    background: seashell;
    color:black ;
    border:darkkhaki(112, 0, 139) 2px solid;
}

button:hover{
    background:red; 
    color:darkslategray;
    cursor: pointer;
}

section{
    padding: 150px 50px;
    background: url(imp.jpg);
    background-size: cover;
    background-position: center center;
}

h1{
    front-size: 50px;
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

section p{
    color:rgb(0, 0, 0);
    max-width: 50%;
    margin-top: 20px;
    font-size: 20px;
    font-family: Tahoma;
}

footer{
    background:rgb(135, 109, 5);
    padding: 30px 50 px;
    font-family: Tahoma;
}
